*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(304.84deg, #34257A 4.83%, #25219A 42.27%, #2925BA 54.87%, #2220A0 68.2%, #362374 98.99%);
}

.content-overly {
    background: #3C2464;
    opacity: 0.8;
    filter: blur(10vh);
    position: absolute;
    height: 80vh;
    width: 65vw;
    left: 0;
    top: 0;
    z-index: -1;
}

#video-dots-overly {
    background-image: url("images/dots.png");
    position: absolute;
    width: 50vw;
    right: 0;
    top: 0;
    overflow: hidden;
    box-shadow: -5vw 0 10vw #3d278a;
    z-index: -1;
}

@media (max-width: 992px) {
    #video-dots-overly {
        width: 100vw;
    }
}

#video-dots-overly video {
    min-width: 100%;
    min-height: 100%;
}

@media (max-width: 992px) {
    .video-dots-overly {
        width: 100vw;
        right: 0;
        top: 0;
        z-index: -1;
    }
}


.main-nav {
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.main-nav .nav-link {
    color: #a090e4;
    background: #32258C;
    border-radius: 24px;
}

.main-nav a:hover {
    color: #adadad;
}

.main-nav > div {
    float: left;
    position: relative;
}

.main-nav .bull {
    margin-right: 6px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

#home-main-section {
    font-family: Manrope, sans-serif;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    min-height: calc(100vh - 72px);
}

#home-main-section > div:first-child {
    padding-right: 4rem;
}

.title {
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */

    letter-spacing: -0.04em;

    color: #FFFFFF;
}

.subtitle {
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */


    color: #A090E4;
}

.contact-us {
    position: relative;
}

.contact-us input {
    background: rgba(7, 12, 49, 0.2);
    border-radius: 40px;
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding: 28px 35px;
    color: #FFFFFF;
}

.contact-us input:hover, .contact-us input:active,.contact-us input:focus {
    outline: none;
}

.contact-us .btn {
    padding: 16px 24px;
    color: #5A00B5;
    background: #FFFFFF;
    border-radius: 30px;
    position: absolute;
    right: 9px;
    top: 9px;
}

.contact-us .btn img{
    margin-left: 8px;
}

.footer-text {
    font-family: Montserrat, sans-serif;;
    font-size: 14px;
    color: #a090e4;
}

.bottom-text {
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}

.bottom-date {
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #a090e4;
}

.caution {
    padding: 40px 0;
    display: flex;
}

.last-line-text {
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8a7ad2;
}

.labeled-txt {
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #ffffff;
    background: #8a7ad2;
    border-radius: 16px;
    margin: 0 4px;
    padding: 1px 4px;
}
